h1{
    color:green;
}
p{
    color:rgb(255,0,255);
}
body{
    background-color: #5d6573 #e4e6eb;
}
button{
    background-color: green;
}
.Heading{
    color:red;
}
#Box{
    background-color: blue;;
}
